/*body, a{
	font-family:"Times New Roman",Georgia,Serif;font-size:12px;margin:0;background:#f4f5eb;color:#000;
}*/

/*body{padding-left:4px}*/
#main-content table{width:90%;border-left:solid 1px gray;border-top:solid 1px gray;margin:0px;}
#main-content td{padding:2px 4px;height:20px;border-right:solid 1px gray;border-bottom:solid 1px gray;}
#main-content thead th{height:26px;background-color:lightgray;border-right:solid 1px gray;border-bottom:solid 1px gray;}
#main-content tbody td{background-color:#f4f5eb;height:20px;border-right:solid 1px gray;border-bottom:solid 1px gray;word-break:break-all}
#main-content img{height:22px;cursor:pointer;}
#main-content .labelText{background-color:lightgray; width:20%}
#main-content .inputArea{background-color:white; width:30%}
#main-content .inputArea input{width:75%; padding-left:3px;}
#main-content .inputArea textarea{width:95%; padding-left:3px;}
#main-content select{width:80%}
#main-content .hover{background-color:AliceBlue;}
#main-content .dateTableDIV table{width:100%}
#main-content img{border:1px solid lightgray}
